.menu-box {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-button {
    background-color: white;
    border-radius : 8px;
    border-color: white;
    width: 10em;
    transition-duration: 0.4s;
    padding: 14px 40px;
    margin: 0.1em;
    font-size : 2em;
    font-family: fantasy;
    color : darkred;
}

.menu-title{
    font-size: 7em;
    font-family: fangsong;
    color: white;
    -webkit-text-stroke: 2px darkred;
}